body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpaper.dog/large/5550998.png');
    background-size: 2100px 1080px;
}

.BigBoiContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 3000px;
}

.BigContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.526);
}

.fullName {
    display: flex;
}

#firstName {
    margin-right: 5px;
}

* {
    color: rgb(255, 228, 151);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#picture {
    margin: 10px;
    width: 300px;
    height: 250px;
}

.hiddenContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.409);
}

.BigContainer:hover .hiddenContainer{
    animation: slide 1s linear;
    animation-fill-mode: forwards;
}

@keyframes slide {
    0% {
        transform: translateX(0px)
    }

    100% {
        transform: translateX(320px)
    }
}